extends layout

block content
	#page
		#logo: img(src="img/logo.png")
		header#header
			#container
				h1 Welcome to Bourne to Invent.
				#buttons
					a(target="_blank", href="projects/ks3Assessment/index.html") Progress Ladder
					a(target="_blank", href="https://www.bournetolearn.com/") BournetoLearn
					a(target="_blank", href="https://www.bournetocode.com/") BourneToCode
		#work
			#year7.box
				#background: header: h3 Year 7
				ul
					li: a(href="projects/7-SC-Box/index.html") 1 - Storage Box
					li: a(href="projects/soldering_license/index.html") 2 - Soldering Licence
					li: a(href="projects/7-SC-Torch/index.html") 3 - LED Torch
					li: a(href="projects/7-SC-Mechanisms/index.html") 4 - SolidWorks Mechanisms
					li: a(href="projects/7-SC-Buzzer/index.html") 5 - Door buzzer
					br
					li: a(href="projects/X-SC-Extension/pages/index.html") Extension Tasks
					li: a(href="projects/supplementary_work/index.html") Supplementary Work
					li: a(href="projects/7-CS-ESafety/pages/ReadingList.html") Suggested Reading
			#year8.box
				#background: header: h3 Year 8
				ul
					li: a(href="projects/pic_programmer/index.html") 1 - PIC Licence
					li: a(href="projects/challenges/index.html") 2 - The Challenges
					li: a(href="projects/8-SC-DigitalDie/index.html") 3 - Digital Die
					li: a(href="projects/9-SC-Mechanisms/index.html") 4 - Practical Mechanisms
					li: a(href="projects/8-SC-Fan/index.html") 5 - The 555 Fan
					li: a(href="projects/9-SC-555/index.html") 6 - The 555 Piano
					br
					li: a(href="projects/X-SC-Extension/pages/index.html") Extension Tasks
					li: a(href="projects/supplementary_work/index.html") Supplementary Work
					li: a(href="projects/7-CS-ESafety/pages/ReadingList.html") Suggested Reading
			#year9.box
				#background: header: h3 Year 9
				ul
					li: a(href="projects/9-SC-Alarm/index.html") 1 - Drawer alarm
					li: a(href="projects/9-SC-LED/index.html") 2 - Independent Design
					li: a(href="projects/9-SC-QuickMakes/index.html") 3 - Quick Makes
					li: a(href="projects/9-SC-Flyer/index.html") 4 - The Delport Flyer
					br
					li: a(href="projects/X-SC-Extension/pages/index.html") Extension Tasks
					li: a(href="projects/supplementary_work/index.html") Supplementary Work
					li: a(href="projects/7-CS-ESafety/pages/ReadingList.html") Suggested Reading
			#gcse.box
				#background: header: h3 GCSE
				ul
					li: a(href="projects/gcse_theory/index.html") Theory topics
					li: a(href="projects/gcse_theory/examples.html") Exemplar past papers
					br
					li: a(href="projects/supplementary_work/index.html") Supplementary Work
					li: a(href="projects/7-CS-ESafety/pages/ReadingList.html") Suggested Reading
					
			#alevel.box
				#background: header: h3 A-Level
				ul
					li: a(href="projects/as_theory/index.html") Theory topics
					li: a(href="projects/as_theory/examples.html") AS Exemplar past papers
					li: a(href="projects/a2_theory/index.html") A2 Exemplar past papers